TAVILY_API_KEY=...

# To separate your traces from other application
LANGCHAIN_PROJECT=react-agent
LANGCHAIN_API_KEY=...
# LANGCHAIN_TRACING_V2=true


#SUPABASE 
SUPABASE_URL=
# service role key - do not expose to client
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_KEY=

# Optional custom path for ingestion script
JUNGIAN_KB_DIR=./knowledge/jungian

# The following depend on your selected configuration

## LLM choice:
ANTHROPIC_API_KEY=....

OPENAI_API_KEY=...
DEFAULT_AGENT_MODEL=openai/gpt-4o-mini

#Optional
FIREWORKS_API_KEY=...

